.products__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.content__product_block{
    width: 30%;
    text-align: center;
    padding: 2.5% 0 0 0;
    aspect-ratio: 0.75/1;
    background-color: #02CBA7;
    margin: 2.5% 1.5% 2.5% 1.5%;
}
.product_block__image{
    width: 85%;
    height: 50%;
}
.content__product_block h1{
    font-size: 2vw;
}
.content__product_block p{
    font-size: 1vw;
}