@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,audio,canvas,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time,video
{
    font-family: 'Varela Round', sans-serif;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    margin:0;
    padding:0
}
article,aside,dialog,figure,footer,header,hgroup,nav,section,blockquote{
    display:block
}

.font-awesome-icons::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    color:red;
    -webkit-font-smoothing: antialiased;
}

nav ul{
    list-style:none
}
ol{
    list-style:decimal
}
ul{
    list-style:disc
}
ul ul{
    list-style:circle
}
blockquote,q{
    quotes:none
}
blockquote:before,blockquote:after,q:before,q:after{
    content:none
}
ins{
    text-decoration:underline
}
del{
    text-decoration:line-through
}
mark{
    background:none
}
abbr[title],dfn[title]{
    border-bottom:1px dotted #000;
    cursor:help
}
table{
    border-collapse:collapse;
    border-spacing:0
}
hr{
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #ccc;
    margin:1em 0;
    padding:0
}
input[type=submit],input[type=button],button{
    margin:0;
    padding:0;
}
input,select,a img{
    vertical-align:middle
}
/**/
:root {
    --sky-color: #7CD8D5;
    --golden-color: #F9BE02;
    --brigth-coral-color: #F53240;
    --aquamarine-color: #02C8A7;
}
a{
    font-family: 'Poppins',sans-serif;
}
body, main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.big_main{
    height: 100%;
}
body{
    /*min-height: 70vh;*/
    background: linear-gradient(10deg, #02c8a7, white);
}
header{
    width: 100%;
}
/*.products_main{*/
/*    all: initial;*/
/*    background: linear-gradient(10deg, #02C8A7, white);*/
/*}*/
/*.small-container{*/
/*    margin: auto;*/
/*    padding-left: 25px;*/
/*    padding-right: 25px;*/
/*}*/

/*.col-4{*/
/*    flex-basis: 20%;*/
/*    !*padding: 10px;*!*/
/*    !*min-width: 200px;*!*/
/*    !*margin-bottom: 50px;*!*/
/*    !*transition: transform 0.5s;*!*/
/*}*/

/*.col-4 img{*/
/*    width: 100%;*/
/*    !*height:300px;*!*/
/*    border-radius:12px;*/
/*    box-shadow:0px 0px 5px #777;*/
/*    margin-bottom:30px;*/
/*    object-fit: cover;*/
/*}*/
/*.impg {*/
/*    border-radius:12px;*/
/*}*/
.products__content{
    margin-top: 7%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.product_link{
    color: #000;
    width: 100%;
    height: 100%;
    font-size: 1.25vw;
    text-decoration: none;
}
.text_product__donator{
    padding-left: 2%;
}
.content__product_block{
    width: 10%;
    border-radius: 5%;
    text-align: center;
    padding: 0.3% 0.3% 0 0.3%;
    aspect-ratio: 0.825/1;
    margin: 1.5% 1.5% 1.5% 1.5%;
    /*font-family: 'Poppins',sans-serif;*/
    border: white 3px solid;
    box-shadow: rgb(38, 57, 77) 0 10px 15px -10px;
    transition: width 0.6s, margin 0.6s, box-shadow 0.6s;
    background-color: #ececec;
}
.content__product_block:hover{
    width: 12.5%;
    margin: 2% .5% 2% .5%;
    transition: width 0.6s, margin 0.6s, box-shadow 0.6s;
}
.text_product__product_name{
    padding-left: 2%;
    font-weight: bold;
    padding-top: 10px;
    font-family: sans-serif;
}
.product_block__image{
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
.product_block__text{
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin-top: 2%;
    margin-bottom: 3%;
    aspect-ratio: 5/1;
    flex-direction: column;
    background-color: #f9be02;
    font-size: 20px;
    justify-content: space-evenly;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}
.product_block__text{
    margin: 2.5% 0 2.5% 0;
}
.product_block__text p{
    font-size: 1.4vw;
    transition: font-size 0.6s;
}
.content__product_block:hover .product_block__text p{
    font-size: 1.25vw;
    transition: font-size 0.6s;
}
.details_main{
    width: 95%;
    padding: 1%;
    display: flex;
    margin-top: 2.5%;
    aspect-ratio: 2.355;
    flex-direction: column;
    font-family: 'Poppins',sans-serif;
    background: linear-gradient(180deg, #02c8a7, white 140%);
    border: #F9BE02 3px solid;
}
.info_top{
    display: flex;
    justify-content: space-evenly;
}
.image-left{
    width: 65%;
    aspect-ratio: 1.875;
}
.product_right{
    width: 30%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.product_right__top{
    width: 100%;
}
.product_right h1{
    font-size: 2vw;
    margin: 0 0 2.5% 0;
}
.prod_info_line{
    display: flex;
    justify-content: space-between;
}
.prod_info_line p{
    font-size: 1.25vw;
    margin: 1.5% 0 1.5% 0;
}
.mailto{
    color: #F9BE02;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.product_description{
    font-size: 1.5vw;
    margin: 1.5% 0 0 0;
    font-weight: normal;
}
.info_line_value{
    width: 100%;
    text-align: end;
    font-weight: bold;
}
.product_dm{
    width: 100%;
    padding: 2.5%;
    font-size: 2.5vw;
    font-weight: bold;
    border-radius: 20px;
    color: #F9BE02;
    border: #F9BE02 3px solid;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.new_product_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new_product_header{
    font-size: 2vw;
    margin-bottom: 2.25%;
    font-family: 'Poppins',sans-serif;
}
.new_product_form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.new_product_form p{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.new_product_form p label, .new_product_form p input, .new_product_form p textarea{
    width: 100%;
    resize: none;
    font-size: 1vw;
}
.new_product_form p input{
    text-align: center;
}

/*LOGIN CSS*/

.login_body, .register_body {
    background : url("https://cdn5.f-cdn.com/contestentries/1578585/21468461/5d62b49ac544b_thumb900.jpg") no-repeat center center fixed;
    margin: 0;
    min-block-size: 100vh;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}

.login_page_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login_block {
    width: 30%;
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
}

.login_block__header{
    text-align: center;
}

.login_block__header h2{
    font-size: 1.75vw;
}

.login_block__header p{
    margin-top: 1.5%;
    font-size: 1.2vw;
}

.login__header {
    color: #000;
    display: flex;
    padding: 2.5%;
    font-size: 1vw;
    align-items: center;
    background: transparent;
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
    -webkit-box-shadow: 0 15px 25px #777;
}

.login__header img{
    width: 7.5%;
    margin-right: 1.75%;
}

.login__header h2{
    width: 100%;
    font-size: 1.75vw;
}

.login_block_container{
    margin-top: 2.5%;
}

.login__form {
    color: #777;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: transparent;
    padding: 4% 1.625%;
    border-bottom-left-radius: 1.25%;
    border-bottom-right-radius: 1.25%;
    -webkit-box-shadow: 0 15px 25px #777;
}

.form__element{
    width: 80%;
    display: flex;
    margin-bottom: 2.5%;
    flex-direction: column;
}

.form__element label{
    font-size: 1.2vw;
    margin-bottom: .5%;
}

.login_block input {
    width: 100%;
    color: #055159;
    font-size: 1vw;
    margin-top: .75%;
    border-radius: 10px;
    padding: 1.25% 1.75%;
    background-color: #eee;
}

.login__form button{
    width: 30%;
    color: #fff;
    border: none;
    padding: 1% 0;
    cursor: pointer;
    margin-top: 1.5%;
    font-size: 1.25vw;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: #07cb8d;
    transition: background-color 0.5s ease, color 0.5s, font-size 0.5s;
}

.login__form button:hover{
    color: #07cb8d;
    font-size: 1.5vw;
    background: #ffffff;
    transition: background-color 0.5s ease, color 0.5s, font-size 0.5s;
}

/*Registration CSS*/
.register_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.register_form{
    width: 25%;
    display: flex;
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    padding: 1.25em 1.625em;
    background-color: transparent;
    transition: width 0.5s, height 0.5s;
    -webkit-box-shadow: 0 15px 25px #777;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.register_form:hover {
    width: 27%;
    transition: width 0.5s, height 0.5s;
}

.register_form__header{
    font-size: 1.75vw;
}

.register_form .input-box{
    width: 100%;
    margin-top: 2.5%;
    font-size: 0.85vw;
    border-radius: 10px;
    padding: 1.25% .5% 0 .5%;
}

.register_form .input-box:focus{
    outline: none;
}

#submitRegisterButton{
    width: 35%;
    padding: 1% 0;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2vw;
    margin-top: 2.5%;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: #07cb8d;
    transition: background-color 0.5s ease, color 0.5s, font-size 0.5s;
}

#submitRegisterButton:hover{
    color: #07cb8d;
    font-size: 1.5vw;
    background: #ffffff;
    transition: background-color 0.5s ease, color 0.5s, font-size 0.5s;
}

.login_button{
    display: flex;
    margin-top: 2.5%;
    font-weight: bold;
    align-items: center;
    flex-direction: column;
}

.login_button a{
    transition: font-size 0.5s;
}

.login_button a:hover{
    font-size: 1vw;
    transition: font-size 0.5s;
}

